*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("img/background.jpg");
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120 px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.sub-navbar-1,
.sub-navbar-2,
.sub-navbar-3,
.sub-navbar-4,
.sub-navbar-5 {
    display: none;
    background: rgba(0, 150, 136, 0.8); 
    padding: 5px;
}
.navbar ul li:hover .sub-navbar-1,
.navbar ul li:hover .sub-navbar-2,
.navbar ul li:hover .sub-navbar-3,
.navbar ul li:hover .sub-navbar-4,
.navbar ul li:hover .sub-navbar-5 {
    display: block;
    position: absolute;
    background: rgb(0, 150, 136);
    margin-top: 15px;
    margin-left: -15px;
    padding: 5px;
    width: 0%;
}
.navbar ul li:hover .sub-navbar-1 ul,
.navbar ul li:hover .sub-navbar-2 ul,
.navbar ul li:hover .sub-navbar-3 ul,
.navbar ul li:hover .sub-navbar-4 ul,
.navbar ul li:hover .sub-navbar-5 ul{
    display: block;
    margin: 5px;
}
.navbar ul li:hover .sub-navbar-1 ul li,
.navbar ul li:hover .sub-navbar-2 ul li,
.navbar ul li:hover .sub-navbar-3 ul li,
.navbar ul li:hover .sub-navbar-4 ul li,
.navbar ul li:hover .sub-navbar-5 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar ul li:hover .sub-navbar-1 ul li:last-child,
.navbar ul li:hover .sub-navbar-2 ul li:last-child,
.navbar ul li:hover .sub-navbar-3 ul li:last-child,
.navbar ul li:hover .sub-navbar-4 ul li:last-child,
.navbar ul li:hover .sub-navbar-5 ul li:last-child{
    border-bottom: none;
}
.navbar ul li:hover .sub-navbar-1 ul li a:hover,
.navbar ul li:hover .sub-navbar-2 ul li a:hover,
.navbar ul li:hover .sub-navbar-3 ul li a:hover,
.navbar ul li:hover .sub-navbar-4 ul li a:hover,
.navbar ul li:hover .sub-navbar-5 ul li a:hover{
    color: #004a43;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px; 
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}